<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Aspsp Registry Manager</title>
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.green-red.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" th:href="@{main.min.css}" href="main.min.css">
    <link href="https://fonts.googleapis.com/css?family=Oxygen&display=swap" rel="stylesheet">
    <script th:src="@{main.js}" src="main.js"></script>
</head>

<body>
<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
<div class="validation-layout margin-top__zero hidden">
    <div class="validation-obfuscator">
        <div class="validation-modal">
            <h3 class="validation--header">Validation report</h3>
            <div class="spinner">
                <div class="mdl-spinner mdl-js-spinner is-active"></div>
                <button class="reject mdl-button mdl-js-button mdl-button--accent padding__top"
                    onclick="rejectCancelButton();">cancel</button>
            </div>
            <div class="verdict hidden">Validation verdict: <span id="verdict"></span></div>
            <div class="validation-report hidden">
                <div class="not-valid-amount">Amount of not valid records: <span id="records-amount"></span></div>
                <div class="example">Example:</div>
                <textarea class="display" readonly></textarea>
            </div>
            <div class="merge-request hidden">
                <div class="new-reocrds">Amount of new enteties: <span id="new-records"></span></div>
                <div class="altered">Amount of altered enteties: <span id="altered"></span></div>
                <div class="process-buttons">
                    <button class="reject mdl-button mdl-js-button mdl-button--accent padding__top"
                        onclick="rejectCancelButton();">cancel</button>
                    <button class="confirm mdl-button mdl-js-button mdl-button--primary padding__top"
                        onclick="confirmButton();">confirm</button>
                </div>
            </div>
            <div class="upload-request hidden">
                <div class="csv-quantity">Amount of records in the CSV: <span id="csv-quantity"></span></div>
                <div class="db-size">Amount of records in the database: <span id="db-size"></span></div>
                <div class="process-buttons">
                    <button class="reject mdl-button mdl-js-button mdl-button--accent padding__top"
                        onclick="rejectCancelButton();">reject</button>
                    <button class="report mdl-button mdl-js-button padding__top"
                        onclick="reportButton();">report</button>
                    <button class="proceed mdl-button mdl-js-button mdl-button--primary padding__top"
                        onclick="proceedButton();">proceed</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="flex-nav margin-top__zero">
    <div class="mdl-layout--fixed-drawer mdl-layout mdl-js-layout">
        <div class="mdl-layout__drawer animated is-hidden">
            <nav class="mdl-navigation">
                <div class="upload-button" id="upload">
                    <input type="file" name="import file" id="import-field" hidden>
                    <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--fab"
                        onclick="HIT_BUTTON = 'UPLOAD';">
                        <i class="material-icons">
                            cloud_upload
                        </i>
                    </button>
                </div>
                <div class="download-button" id="download">
                    <a href="/v1/aspsps/csv/download" download="aspsps.csv">
                        <button
                            class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--fab mdl-button--colored">
                            <i class="material-icons">
                                cloud_download
                            </i>
                        </button>
                    </a>
                </div>
                <div class="merge-button" id="merge">
                    <input type="file" name="merge file" id="merge-field" hidden>
                    <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--fab mdl-button--primary"
                        onclick="HIT_BUTTON = 'MERGE';">
                        <i class="material-icons">
                            merge_type
                        </i>
                    </button>
                </div>
                <div class="add-button" id="add">
                    <button class="mdl-button mdl-js-button mdl-button--fab" onclick="addRow();">
                        <i class="material-icons">
                            add
                        </i>
                    </button>
                </div>
                <div class="expand margin-top__zero">
                    <button class="mdl-button mdl-js-button mdl-button--icon" onclick="showButton()">
                        <i class="material-icons opacity__none animated">
                            arrow_drop_down
                        </i>
                    </button>
                </div>
            </nav>
        </div>
        <div class="tooltips">
            <div class="mdl-tooltip" data-mdl-for="download">
                Download CSV file
            </div>
            <div class="mdl-tooltip" data-mdl-for="upload">
                Upload CSV file
            </div>
            <div class="mdl-tooltip" data-mdl-for="merge">
                Bulk upload <br>(Save and update)
            </div>
            <div class="mdl-tooltip" data-mdl-for="add">
                Add new Aspsp
            </div>
        </div>
    </div>
    <div class="manager-layout--fixed-drawer margin-top__zero">
        <div class="manager-layout__drawer">
            <div class="username">
                <span class="user" sec:authentication="name"></span>
            </div>
            <div class="logout-drawer margin-top__zero">
                <div class="logout">
                    <a href="/logout" class="logout-link">
                        <button class="mdl-button mdl-js-button mdl-button--fab" id="logout-button">
                            <i class="material-icons">
                                power_settings_new
                            </i>
                        </button>
                    </a>
                </div>
            </div>
        </div>
        <div class="tooltips margin-top__zero">
            <div class="mdl-tooltip" data-mdl-for="logout-button">
                Logout
            </div>
        </div>
    </div>
</div>
<div class="flex-container">
    <header class="registry-header">
        <div class="header">
            <h1 class="registry-header">Aspsp Registry Manager</h1>
            <p class="total-elements">Total records: <span id="total"></span></p>
        </div>
        <div class="search">
            <form class="search-form">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <label for="bank-name" class="mdl-textfield__label">Bank name</label>
                    <input class="mdl-textfield__input" type="text" name="bank-name">
                </div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <label for="bic" class="mdl-textfield__label">BIC</label>
                    <input class="mdl-textfield__input" type="text" name="bic">
                </div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <label for="bank-code" class="mdl-textfield__label">Bank code</label>
                    <input class="mdl-textfield__input" type="text" name="bank-code">
                </div>
                <input class="mdl-button mdl-js-button button__padding-top" type="button" value="SEARCH"
                    id="search_button" onclick="searchButton();">
                <input class="mdl-button mdl-js-button button__padding-top" type="button" value="CLEAR"
                    id="clear_button" onclick="clearContent();">
            </form>
        </div>
    </header>

<main class="main-container">
    <div class="result-table" hidden>
        <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
            <thead>
                <tr>
                    <th class="column__short">Id</th>
                    <th class="mdl-data-table__cell--non-numeric">Bank Name</th>
                    <th class="mdl-data-table__cell--non-numeric">BIC</th>
                    <th class="mdl-data-table__cell--non-numeric">URL</th>
                    <th class="mdl-data-table__cell--non-numeric">Adapter Id</th>
                    <th>Bank Code</th>
                    <th class="mdl-data-table__cell--non-numeric">IDP URL</th>
                    <th >Approach</th>
                    <th class="mdl-data-table__cell--non-numeric edit-cell"></th>
                </tr>
            </thead>
            <tbody>
                <tr class="hidden">
                    <td class="mdl-data-table__cell--non-numeric column__short"></td>
                    <td class="mdl-data-table__cell--non-numeric invalid" onfocusout="validate(bankName, this);"></td>
                    <td class="mdl-data-table__cell--non-numeric invalid" onfocusout="validate(bic, this);"></td>
                    <td class="mdl-data-table__cell--non-numeric invalid" onfocusout="validate(url, this);"></td>
                    <td class="mdl-data-table__cell--non-numeric invalid" onfocusout="validate(adapterId, this);"></td>
                    <td class="invalid" onfocusout="validate(bankCode, this);"></td>
                    <td class="mdl-data-table__cell--non-numeric idp-url" onfocusout="validate(url, this);"></td>
                    <td>
                        <div class="approaches">
                            <div id="embedded">
                                <input type="checkbox" name="EMBEDDED" disabled>
                                <label for="EMBEDDED">EMBEDDED</label>
                            </div>
                            <div id="redirect">
                                <input type="checkbox" name="REDIRECT" disabled>
                                <label for="EMBEDDED">REDIRECT</label>
                            </div>
                            <div id="decoupled">
                                <input type="checkbox" name="DECOUPLED" disabled>
                                <label for="EMBEDDED">DECOUPLED</label>
                            </div>
                            <div id="oauth">
                                <input type="checkbox" name="OAUTH" disabled>
                                <label for="EMBEDDED">OAUTH</label>
                            </div>
                        </div>
                    </td>
                    <td class="mdl-data-table__cell--non-numeric edit-cell">
                        <button class="mdl-button mdl-js-button mdl-button--icon edit">
                            <i class="material-icons">edit</i>
                        </button>
                        <button class="mdl-button mdl-js-button mdl-button--icon mdl-button--primary update">
                            <i class="material-icons">done</i>
                        </button>
                        <button class="mdl-button mdl-js-button mdl-button--icon mdl-button--accent delete">
                            <i class="material-icons">close</i>
                        </button>
                        <div>
                            Edit
                        </div>
                        <div>
                            Save / Update
                        </div>
                        <div>
                            Delete
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="welcome-message">
        <h1>To start working with ASPSP Registry try searching for something or adding a new record</h1>
    </div>
</main>
<div class="show-more" hidden>
    <button class="more mdl-button mdl-js-button mdl-js-ripple-effect" onclick="showMore();">Show more</button>
    <div>
        Total: <span class="total"></span>
    </div>
</div>

<footer class="registry-footer">
    <h6 class="footer-text">Golden Dimension. Made with </h6>
</footer>
</div>
<div class="alerts margin-top__zero">
    <div class="alert failure">
        <strong>Operation failed.</strong>
        <br>
        <span class="message"></span>
    </div>
    <div class="alert success">
        <strong>Processed successfully!</strong>
        <br>
        <span class="message"></span>
    </div>
    <div class="alert warning">
        <strong>Warning!</strong>
        <br>
        <span class="message"></span>
    </div>
</div>
</body>

</html>